---
import PRODUCTS from "../assets/products"
import ProductCard from "../components/ProductCard.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="ูุชุฑู - ุญุงุชโุจุฑุชุฑ">
  <div class="text-center my-5">
    <p>ุจุณู ุงููู ุงูุฑุญูู ุงูุฑุญู</p>
    <h1>ูุชุฑู ูุญุตููุงุช ุญุงุชโุจุฑุชุฑ</h1>
    <p>ุจู ูุชุฑู ูุญุตููุงุช ุญุงุชโุจุฑุชุฑ ุฎูุด ุงููุฏู ๐บ ุงูุฌุง ูุชููู ฺฉู ุฌุงฺฏุฒู ุณุงูู ู ุฎูุดูุฒู ุจุฑุง ุฎูุฑุงฺฉโูุง ูุชุฏุงูู ูพุฏุง ฺฉู ๐๐๐ป</p>
  </div>

  <div class="vstack align-items-center gap-3 my-5">
    {PRODUCTS.map(product => (
      <ProductCard {...product} />
    ))}
  </div>
</Layout>
