<!-- <nav class="navbar navbar-dark bg-dark">
  <div class="container -container-sm">
    <a href="#" class="navbar-brand">HBS-MVP</a>
    <button class="navbar-toggler" data-bs-target="#nav" data-bs-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Store</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container -container-sm">
    <a href="#" class="navbar-brand">حیات‌برتر</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="https://eitaa.com/haiate_bartar" class="nav-link">کانال ایتا</a>
      </li>
      <li class="nav-item">
        <a href="https://eitaa.com/S_oudi70" class="nav-link">تماس‌باما</a>
      </li>
    </ul>
  </div>
</nav>
